@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --mainback-color: hsl(233,47%,7%);
  --cardback--color:hsl(244,38%,16%);
  --accent-color:hsl(277,64%,61%);
  --stats-color:hsl(0,0%,100%);
  --parragraph-color:hsla(0,0%,100%,0.75);
  --heading-color:hsla(0,0%,100%,0.6);
}

body {
  background: var(--mainback-color);
}
body main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main .attribution {
  color: var(--stats-color);
}

.card {
  background: var(--cardback--color);
  width: 400px;
  max-width: 90%;
  text-align: center;
  font-family: Inter, sans-serif;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.card .card__imageBox {
  width: 100%;
  background: var(--accent-color);
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  display: flex;
}
.card .card__imageBox .card__image {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.7;
}
.card .card__description {
  margin-top: 3rem;
  padding: 0 2rem 1rem 2rem;
}
.card .card__description .card__boxTitleParragraph .card__title {
  color: var(--stats-color);
  font-size: 2rem;
  padding: 0 1rem;
}
.card .card__description .card__boxTitleParragraph .card__title .card__titleWord {
  color: var(--accent-color);
}
.card .card__description .card__boxTitleParragraph .card__parragraph {
  font-weight: 400;
  color: var(--parragraph-color);
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 2rem;
  padding: 0 1rem 1rem 1rem;
}
.card .card__description .card__boxStats .card__statsName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}
.card .card__description .card__boxStats .card__statsName .card__stats {
  font-size: 1.5rem;
  color: var(--stats-color);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0.5rem auto;
}
.card .card__description .card__boxStats .card__statsName .card__sName {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 15px;
  margin: 0;
  letter-spacing: 1px;
}

@media screen and (min-width: 992px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    width: 1080px;
    max-width: 90%;
    height: 446px;
  }
  .card .card__imageBox {
    width: 50%;
    min-width: 50%;
    border-radius: 0 10px 10px 0;
  }
  .card .card__description {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 35%;
  }
  .card .card__description .card__boxTitleParragraph .card__parragraph {
    padding-top: 1rem;
    line-height: 1.5rem;
    letter-spacing: normal;
  }
  .card .card__description .card__boxStats {
    display: flex;
    padding-left: 1rem;
  }
  .card .card__description .card__boxStats .card__statsName {
    display: block;
    letter-spacing: normal;
    margin: 0;
    padding-right: 2rem;
  }
  .card .card__description .card__boxStats .card__statsName .card__sName {
    font-size: 13px;
    font-weight: 400;
  }
}

/*# sourceMappingURL=styles.css.map */
